<div class="text-center">
    <h1 class="text-info pt-4">Congratulations! Your order has been posted.</h1>
    <p class="pb-3">Payment will be processed soon.</p>
    <img src="/Images/order.png" width="80%" />
</div>